
@font-face {
    font-family: myFont;
    src: url(bold.otf);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container{
    display: flex;
    min-height: 100vh;
    max-width: 100%;
}

:root{
    --bg-clr: white;
    --color:black;
    --btn-bg:#596D48;
    --bg:red;
    --border:blue;

}

body{
  
    background-color: black;
}

.left-panel{
    background-image: url(https://images.unsplash.com/photo-1585202900225-6d3ac20a6962?q=80&w=387&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size:cover;
    background-position:center;
    flex:1;
    color: #fff;
    padding-top: 10%;
    position: relative;
}
.logo-bx{
    background-color: rgba(0, 0, 0,0.5);
    padding: 100px 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100px;
    width: 100%;
    flex-direction: column;
    position: absolute;
    top: 15;
    left: 0;
    color: #fff;
    font-size: 5rem;
    font-weight: bold;
    font-family: myFont;
  
}
.logo-bx img{
    height: 120px;
    width: 80px;
}
.right-panel{
    flex: 2;
    background-color: #fff;
    padding: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.par-1{
    margin-bottom: 35px;
    font-size: 1.4rem;
    font-weight: 600;
}
.par-2{
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: 70px;
}
.shadow{
    box-shadow: 0 4px 6px -2px rgba(0, 0, 0, 0.1),
    0 -4px 6px -4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.sign-up-form{
    background-color: var(--bg-clr);
    color: var(--color);
   
    
}
.sign-up-form h2{
    margin-bottom: 20px;
    font-size: 1.4rem;
}
.form-columns{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin-bottom: 20px;
    width: 500px;
}
.column1{
    flex: 1;
    min-width: 250px;

}
.column2{
    flex: 1;
    min-width: 250px;
}
.form-group{
    margin-bottom: 20px;
}
label{
    display: block;
    margin-bottom: 5px;
    font-size: 0.9rem;
}
input{
    padding: 9px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 500px;
}
button{
    background-color:var(--btn-bg);
    color: #fff;
    padding: 7px 20px;
    border: 1px solid #596D48;
    border-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    margin-bottom: 20px;
    cursor: pointer;
}
a{
    text-decoration: none;

}
a:active{
color: orange;
    
}

a:visited{
    color: purple;
}
input[type="password"]:invalid{
    border: 1px solid var(--bg);
}
input:focus{
    outline: none;
    border: 1px solid var(--border);
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

a:link{
    color: #596D48;
}
